<a href="https://colab.research.google.com/github/ravi18kumar2021/100DaysOfCode/blob/main/Day2_of_the_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q. Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:
```
Salary(Lakhs) : Tax(%)

Below 5 : 0%
5-10 : 10%
10-20 : 20%
aboove 20 : 30%
```

In [ ]:
ctc_amount = int(input("Enter the CTC : "))
deduction = (0.1 + 0.05 + 0.03) * ctc_amount
if ctc_amount <= 500000:
  tax = 0
elif 500000 < ctc_amount <= 1000000:
  tax = 10
elif 1000000 < ctc_amount <= 2000000:
  tax = 20
else:
  tax = 30
in_hand_salary = ctc_amount - deduction - tax*ctc_amount
print("In hand salary of CTC", ctc_amount, "is", in_hand_salary)

Enter the CTC : 230000
In hand salary of CTC 230000 is 188600.0

Q. Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
# sum of three angles is 180
a = int(input("Enter angle 1 : "))
b = int(input("Enter angle 2 : "))
c = int(input("Enter angle 3 : "))

if (a + b + c) == 180:
  print('it is a triangle')
else:
  print('it is not a triangle')

Enter angle 1 : 56
Enter angle 2 : 104
Enter angle 3 : 20
it is a triangle

Q. Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
# profit = sp - cp, loss = cp - sp

cp = int(input("Enter cost price : "))
sp = int(input("Enter selling price : "))

if cp < sp:
  print('it is a profit')
elif cp > sp:
  print('it is a loss')
else:
  print('no profit no loss')

Enter cost price : 5600
Enter selling price : 6200
it is a profit

Q. Write a menu-driven program -
```
1. cm to ft
2. km to miles
3. USD to INR
4. exit
```

In [ ]:
menu = int(input('''
Choose one unit conversion
Press 1 for cm to ft
Press 2 for km to miles
Press 3 for USD to INR
Press 4 for exit
'''))
if menu == 1:
  # print('cm to ft')
  cm = float(input('Enter cm : '))
  ft = cm * 0.0328
  print(cm, "cm =", ft, 'ft')
elif menu == 2:
  # print('km to miles')
  km = float(input('Enter km : '))
  miles = km * 0.6213
  print(km, 'km =', miles, 'miles')
elif menu == 3:
  # print('USD to INR')
  usd = float(input('Enter USD : '))
  inr = usd * 83.3527
  print(usd, 'USD =', inr, 'INR')
elif menu == 4:
  print('exit')

Choose one unit conversion
Press 1 for cm to ft
Press 2 for km to miles
Press 3 for USD to INR
Press 4 for exit
3
Enter USD : 34
34.0 USD = 2833.9918 INR

Q. Display Fibonacci series up to 10 terms

In [ ]:
# 0, 1, 1, 2, 3, 5, 8, 13, 21, ....
a = 0
b = 1
print(a, b, sep = '\n')
for i in range(10):
  result = a + b
  print(result)
  a = b
  b = result

0
1
1
2
3
5
8
13
21
34
55
89

Q. Find the factorial of a given number.

In [ ]:
# 5! = 5 x 4 x 3 x 2 x 1

num = int(input('Enter a number : '))
result = 1
while num > 0:
  result = result * num
  num -= 1
print(result)

Enter a number : 7
5040