<a href="https://colab.research.google.com/github/ravi18kumar2021/100DaysOfCode/blob/main/Day3_of_the_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q. Print the following pattern. Write a program to use for loop to print the following reverse number pattern.
```
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1
```

In [ ]:
# outer loop start from 5 to 1 and inner loop start from current value of outer loop to 1
for i in range(5, 0, -1):
  for j in range(i, 0, -1):
    print(j, end=' ')
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

Q. Print the following pattern.
```
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

In [ ]:
# ounter loop start from 1 to 9, first inner loop start from 1 to 5 and second inner loop start from 4 to 1
for i in range(1, 10):
  if i < 6:
    for j in range(1, i+1):
      print('*', end=' ')
    print()
  else:
    for k in range(10-i, 0, -1):
      print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Q. Write a program to pring the following pattern.
```
  *
 * *
* * *
```

In [ ]:
rows = int(input('Enter rows : '))
for i in range(1, rows+1):
  print(' '*(rows-i), end='')
  print('* '*i)

Enter rows : 4
   *
  * *
 * * *
* * * *

Q. Write a program to print the following pattern.
```
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
```

In [ ]:
rows = 5
for i in range(1, rows+1):
  for j in range(i, 0, -1):
    print(j, end=' ')
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

Q. Write a Python Program to Find the Sum of the Series till the nth term:

1 + x^2/2 + x^3/3 + â€¦ x^n/n

n will be provided by the user

In [ ]:
n = int(input('Enter n : '))
x = 10
result = 0
series = ''
print('1 + ', end='')
for i in range(1, n+1):
  result = result + x**i/i
  series = series + 'x^{}/{} +'.format(i, i)
print(series[:-1])
print(result)

Enter n : 6
1 + x^1/1 +x^2/2 +x^3/3 +x^4/4 +x^5/5 +x^6/6
189560.0

Q. The natural logarithm can be approximated by the following series.
```
(x-1/x) + 1/2(x-1/x)^2 + 1/2(x-1/x)^3 + 1/2(x-1/x)^4 + ...
```
Write a program to calculate the sum of the first seven terms of this series.

In [ ]:
x = 10
n = 7
result = 0
series = ''
for i in range(1, n+1):
  result = result + 1/2*((x-1/x)**i)
  series = series + '1/2(x-1/x)^{} + '.format(i)
print(series[3:-3])
print(result)

(x-1/x)^1 + 1/2(x-1/x)^2 + 1/2(x-1/x)^3 + 1/2(x-1/x)^4 + 1/2(x-1/x)^5 + 1/2(x-1/x)^6 + 1/2(x-1/x)^7
5183958.401280451

Q. Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690. Take the user input and then calculate. And the output style should match which is given in the example.

In [ ]:
n = 5
result = 0
series = ''
for i in range(1, n+1):
  result = result + int('2'*i)
  series = series + '2'*i + ' + '
print(series[:-3])
print(result)

2 + 22 + 222 + 2222 + 22222
24690

Q. Write a program to print all the unique combinations of 1,2,3 and 4

In [ ]:
for i in range(1, 5):
  for j in range(1, 5):
    for k in range(1, 5):
      for l in range(1, 5):
        print(i, j, k, l)

1 1 1 1
1 1 1 2
1 1 1 3
1 1 1 4
1 1 2 1
1 1 2 2
1 1 2 3
1 1 2 4
1 1 3 1
1 1 3 2
1 1 3 3
1 1 3 4
1 1 4 1
1 1 4 2
1 1 4 3
1 1 4 4
1 2 1 1
1 2 1 2
1 2 1 3
1 2 1 4
1 2 2 1
1 2 2 2
1 2 2 3
1 2 2 4
1 2 3 1
1 2 3 2
1 2 3 3
1 2 3 4
1 2 4 1
1 2 4 2
1 2 4 3
1 2 4 4
1 3 1 1
1 3 1 2
1 3 1 3
1 3 1 4
1 3 2 1
1 3 2 2
1 3 2 3
1 3 2 4
1 3 3 1
1 3 3 2
1 3 3 3
1 3 3 4
1 3 4 1
1 3 4 2
1 3 4 3
1 3 4 4
1 4 1 1
1 4 1 2
1 4 1 3
1 4 1 4
1 4 2 1
1 4 2 2
1 4 2 3
1 4 2 4
1 4 3 1
1 4 3 2
1 4 3 3
1 4 3 4
1 4 4 1
1 4 4 2
1 4 4 3
1 4 4 4
2 1 1 1
2 1 1 2
2 1 1 3
2 1 1 4
2 1 2 1
2 1 2 2
2 1 2 3
2 1 2 4
2 1 3 1
2 1 3 2
2 1 3 3
2 1 3 4
2 1 4 1
2 1 4 2
2 1 4 3
2 1 4 4
2 2 1 1
2 2 1 2
2 2 1 3
2 2 1 4
2 2 2 1
2 2 2 2
2 2 2 3
2 2 2 4
2 2 3 1
2 2 3 2
2 2 3 3
2 2 3 4
2 2 4 1
2 2 4 2
2 2 4 3
2 2 4 4
2 3 1 1
2 3 1 2
2 3 1 3
2 3 1 4
2 3 2 1
2 3 2 2
2 3 2 3
2 3 2 4
2 3 3 1
2 3 3 2
2 3 3 3
2 3 3 4
2 3 4 1
2 3 4 2
2 3 4 3
2 3 4 4
2 4 1 1
2 4 1 2
2 4 1 3
2 4 1 4
2 4 2 1
2 4 2 2
2 4 2 3
2 4 2 4
2 4 3 1
2 4 3 2
2 4 3 3
2 4 3 4
2 4 4 1
2 4 4 2
2 4 4 3
2 4 4 4
3 1 1 1
3 1 1 2
3 1 1 3
3 1 1 4
3 1 2 1
3 1 2 2
3 1 2 3
3 1 2 4
3 1 3 1
3 1 3 2
3 1 3 3
3 1 3 4
3 1 4 1
3 1 4 2
3 1 4 3
3 1 4 4
3 2 1 1
3 2 1 2
3 2 1 3
3 2 1 4
3 2 2 1
3 2 2 2
3 2 2 3
3 2 2 4
3 2 3 1
3 2 3 2
3 2 3 3
3 2 3 4
3 2 4 1
3 2 4 2
3 2 4 3
3 2 4 4
3 3 1 1
3 3 1 2
3 3 1 3
3 3 1 4
3 3 2 1
3 3 2 2
3 3 2 3
3 3 2 4
3 3 3 1
3 3 3 2
3 3 3 3
3 3 3 4
3 3 4 1
3 3 4 2
3 3 4 3
3 3 4 4
3 4 1 1
3 4 1 2
3 4 1 3
3 4 1 4
3 4 2 1
3 4 2 2
3 4 2 3
3 4 2 4
3 4 3 1
3 4 3 2
3 4 3 3
3 4 3 4
3 4 4 1
3 4 4 2
3 4 4 3
3 4 4 4
4 1 1 1
4 1 1 2
4 1 1 3
4 1 1 4
4 1 2 1
4 1 2 2
4 1 2 3
4 1 2 4
4 1 3 1
4 1 3 2
4 1 3 3
4 1 3 4
4 1 4 1
4 1 4 2
4 1 4 3
4 1 4 4
4 2 1 1
4 2 1 2
4 2 1 3
4 2 1 4
4 2 2 1
4 2 2 2
4 2 2 3
4 2 2 4
4 2 3 1
4 2 3 2
4 2 3 3
4 2 3 4
4 2 4 1
4 2 4 2
4 2 4 3
4 2 4 4
4 3 1 1
4 3 1 2
4 3 1 3
4 3 1 4
4 3 2 1
4 3 2 2
4 3 2 3
4 3 2 4
4 3 3 1
4 3 3 2
4 3 3 3
4 3 3 4
4 3 4 1
4 3 4 2
4 3 4 3
4 3 4 4
4 4 1 1
4 4 1 2
4 4 1 3
4 4 1 4
4 4 2 1
4 4 2 2
4 4 2 3
4 4 2 4
4 4 3 1
4 4 3 2
4 4 3 3
4 4 3 4
4 4 4 1
4 4 4 2
4 4 4 3
4 4 4 4

Q. Write a program that will take a decimal number as input and prints out the binary equivalent of the number

In [ ]:
num = int(input('Enter a number : '))
power = 0
while num >= 2**power:
  power += 1

result = 0
for i in range(power-1, -1, -1):
  if 2**i + result > num:
    print(2**i,'-> 0')
  else:
    print(2**i,'-> 1')
    result = 2**i + result

Enter a number : 36
32 -> 1
16 -> 0
8 -> 0
4 -> 1
2 -> 0
1 -> 0

In [ ]:
n = int(input('Enter n : '))
result = ''
while n > 0:
  result = str(n%2) + result
  n = n // 2
print(result)

Enter n : 23
10111

Q. Write a program that will take 2 numbers as input and prints the LCM and HCF of those 2 numbers.

In [ ]:
num1 = int(input('Enter num 1 : '))
num2 = int(input('Enter num 2 : '))

if num1 > num2:
  greater = num1
else:
  greater = num2

while True:
  if (greater%num1 == 0) and (greater%num2 == 0):
    lcm = greater
    break
  greater += 1
print('LCM of {} and {} is {}'.format(num1, num2, lcm))

Enter num 1 : 12
Enter num 2 : 14
LCM of 12 and 14 is 84

In [ ]:
num1 = int(input('Enter num 1 : '))
num2 = int(input('Enter num 2 : '))

if num1 < num2:
  smaller = num1
else:
  smaller = num2

while True:
  if (num1%smaller == 0) and (num2%smaller == 0):
    hcf = smaller
    break
  smaller -= 1
print('HCF of {} and {} is {}'.format(num1, num2, hcf))

Enter num 1 : 13
Enter num 2 : 18
HCF of 13 and 18 is 1

Q. Given a string create short form of the string from Initial character. Short form should be capitalised.

In [ ]:
string = input('Enter a string : ')
result = ''
for i in string.split():
  result += i[0].upper()
print('Short form :', result)

Enter a string : Central Processing Unit
Short form : CPU

Q. Append second string in the middle of first string
```
input - Artificial Intelligence
output - ArtifIntelligenceicial
```

In [4]:
s1 = input('Enter string 1 : ')
s2 = input('Enter string 2 : ')
result = ''
for i in range(len(s1)):
  if i == len(s1)//2:
    result = result + s2
  result = result + s1[i]
print(result)

Enter string 1 : artificial
Enter string 2 : intelligence
artifintelligenceicial

Q. Given string contains a combination of the lower and upper case letters. Write a program to arrange the characters of a string so that all lowercase letters should come first.

In [6]:
# input - ArtiFIciaL, output - rticiaAFIL
s = input('Enter a string : ')
lower = ''
upper = ''

for i in s:
  if i.islower():
    lower += i
  else:
    upper += i

print(lower + upper)

Enter a string : ArtiFIciaL
rticiaAFIL

Q. Take a alphanumeric string input and print the sum and average of the digits that appear in the string, ignoring all other characters.

In [8]:
alphanum = input('Enter an alphanumeric string : ')
count = 0
s = 0

for i in alphanum:
  if i.isdigit():
    s += int(i)
    count += 1

print(s)
print(s/count)

Enter an alphanumeric string : jue412fsd780
22
3.6666666666666665

Q. Removal of all characters from a string except integers.

In [9]:
s = 'I am 27 years and 5 months old'
result = ''

for i in s:
  if i.isdigit():
    result += i

print(result)

275

Q. Given a string. the task is to check if the string is symmetrical or not. A string is said to be symmetrical if both the halves of the string are the same.

In [26]:
# racecar -> not symmetric, noon -> not symmetric,
s = input('Enter a string : ')
l = len(s)
mid = l//2

if l%2 == 0:
  s1 = s[:mid]
  s2 = s[mid:]
else:
  s1 = s[:mid+1]
  s2 = s[mid:]

if s1 == s2:
  print('symmetric')
else:
  print('not symmetric')

Enter a string : heehee
symmetric

Q. We are given a string and we need to reverse words of a given string.

In [29]:
s = input('Enter a string : ')
result = ''
w = ''
for i in s:
  if i == ' ':
    result = i + w + result
    w = ''
  else:
    w += i
result = w + result
print(result)

Enter a string : my name is ravi
ravi is name my

Q. Given two sentences as strings A and B. The task is to return a list of all uncommon words. A word is uncommon if it appears exactly once in any one of the sentences, and does not appear in the other sentence. Note: A sentence is a string of space-separated words. Each word consists only of lowercase letters.

In [31]:
str1 = input('Enter a string 1 : ')
str2 = input('Enter a string 2 : ')

for i in str1.split():
  if i not in str2:
    print(i)
for j in str2.split():
  if j not in str1:
    print(j)

Enter a string 1 : apple mango banana
Enter a string 2 : banana guava mango
apple
guava

Q. Find a location of a word in a given sentence. Don't use index/find functions.

In [33]:
s = input('Enter a sentence : ')
w = input('Enter a word : ')
count = 0
for i in s.split():
  count += 1
  if i == w:
    print('found')
    break
else:
  print('not found')

Enter a sentence : go to the market
Enter a word : school
not found

Q. Write a program that can remove all the duplicate characters from a string. User will provide the input.

In [34]:
s = 'aaabbcddddefff'
result = ''
for i in s:
  if i not in result:
    result += i

print(result)

abcdef