<a href="https://colab.research.google.com/github/ravi18kumar2021/100DaysOfCode/blob/main/Day4_of_the_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q. Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

In [1]:
list1 = ['M', 'na', 'i', 'Ra']
list2 = ['y', 'me', 's', 'vi']

In [4]:
result = []
if len(list1) > len(list2):
  for i in range(len(list2)):
    result.append([list1[i], list2[i]])
  result.append(list1[len(list2):])
elif len(list1) < len(list2):
  for j in range(len(list1)):
    result.append([list1[j], list2[j]])
  result.append(list2[len(list1):])
else:
  for k in range(len(list1)):
    result.append([list1[k], list2[k]])
result

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Ra', 'vi']]

Q. Write a program to add item 7000 after 6000 in the following Python List.
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```

In [6]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2]

[300, 400, [5000, 6000], 500]

In [7]:
list1[2][2]

[5000, 6000]

In [8]:
list1[2][2].append(7000)

In [9]:
list1[2][2]

[5000, 6000, 7000]

In [10]:
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

Q. Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
```

In [11]:
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]

In [12]:
for i, j in zip(candy_list, no_of_items):
  print(i, '->', j)

Jelly Belly -> 10
Kit Kat -> 20
Double Bubble -> 34
Milky Way -> 74
Three Musketeers -> 32

Q. Write a program to print a list after performing running sum on it.

In [13]:
list1 = [1,2,3,4,5,6]
result = 0
list2 = []
for i in list1:
  result += i
  list2.append(result)
list2

[1, 3, 6, 10, 15, 21]