<a href="https://colab.research.google.com/github/ravi18kumar2021/100DaysOfCode/blob/main/Day4_of_the_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q. Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

In [ ]:
list1 = ['M', 'na', 'i', 'Ra']
list2 = ['y', 'me', 's', 'vi']

In [ ]:
result = []
if len(list1) > len(list2):
  for i in range(len(list2)):
    result.append([list1[i], list2[i]])
  result.append(list1[len(list2):])
elif len(list1) < len(list2):
  for j in range(len(list1)):
    result.append([list1[j], list2[j]])
  result.append(list2[len(list1):])
else:
  for k in range(len(list1)):
    result.append([list1[k], list2[k]])
result

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Ra', 'vi']]

Q. Write a program to add item 7000 after 6000 in the following Python List.
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2]

[300, 400, [5000, 6000], 500]

In [ ]:
list1[2][2]

[5000, 6000]

In [ ]:
list1[2][2].append(7000)

In [ ]:
list1[2][2]

[5000, 6000, 7000]

In [ ]:
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

Q. Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
```

In [ ]:
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]

In [ ]:
for i, j in zip(candy_list, no_of_items):
  print(i, '->', j)

Jelly Belly -> 10
Kit Kat -> 20
Double Bubble -> 34
Milky Way -> 74
Three Musketeers -> 32

Q. Write a program to print a list after performing running sum on it.

In [ ]:
list1 = [1,2,3,4,5,6]
result = 0
list2 = []
for i in list1:
  result += i
  list2.append(result)
list2

[1, 3, 6, 10, 15, 21]

Q. You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

In [2]:
# [3, 1, 6, 4, 2] -> [3+6+4, 1+3+6+4+2, 6, 4+6, 2+3+6+4] -> [13, 16, 6, 10, 15]
list1 = [3, 1, 6, 4, 2]
list2 = []

for i in list1:
  s = 0
  for j in list1:
    if i <= j:
      s += j
  list2.append(s)
print(list2)

[13, 16, 6, 10, 15]

Q. Find list of common unique items from two list. and show in increasing order.

In [5]:
n1 = [6, 3, 8, 1]
n2 = [3, 5, 1, 2]
common = []
for i in n1:
  if i in n2 and i not in common:
    common.append(i)
print(sorted(common))

[1, 3]

Q. Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.

In [12]:
list1 = ['e5t2', '1g4i', 'boy', 'uy810', '42', '1', '3xh1']
list2 = []
for i in list1:
  product = 1
  for j in i:
    if j.isdigit():
      product *= int(j)
  list2.append(product)
[j for i, j in sorted(zip(list2, list1))]

['uy810', '1', 'boy', '3xh1', '1g4i', '42', 'e5t2']

Q. Split String of list on a character.
```
input - ['This', 'is', 'python', 'programming']
character - 'i'
output - ['Th', 's', '', 's', 'python', 'programm', 'ng']
```

In [14]:
list1 = ['This', 'is', 'python', 'programming']
character = 'i'
list2 = character.join(list1).split(character)
print(list2)

['Th', 's', '', 's', 'python', 'programm', 'ng']

Q. Convert Character Matrix to single String using string comprehension.

In [15]:
lst = [['m', 'y'], ['n', 'a', 'm', 'e'], ['i', 's'], ['r', 'a', 'v', 'i']]
result = ''
for i in lst:
  result += ''.join(i) + ' '
print(result)

my name is ravi

Q. Add Space between Potential Words.
```
input - ['The', 'soundOf', 'waterAnd', 'air']
output - ['The', 'sound Of', 'water And', 'air']
```

In [16]:
list1 = ['The', 'soundOf', 'waterAnd', 'air']
list2 = []
for i in list1:
  temp = ''
  for j in i:
    if j.isupper():
      temp += ' '
    temp += j
  list2.append(temp)
print(list2)

[' The', 'sound Of', 'water And', 'air']

Q. Write a program that can perform union operation on 2 lists.

In [17]:
list1 = [3, 5, 1, 7]
list2 = [2, 3, 6, 1]
union = []

for i in (list1 + list2):
  if i not in union:
    union.append(i)
print(union)

[3, 5, 1, 7, 2, 6]

Q. Write a program that can find the max number of each row of a matrix.

In [20]:
list1 = [[2, 6, 1], [3, 4, 2], [1, 7, 3]]
[max(i) for i in list1]

[6, 4, 7]

Q. Write a list comprehension to print the following matrix
```
[[0, 1, 2], [3, 4, 5], [6, 7, 8]]
```

In [27]:
[[j + i*3 for j in range(3)] for i in range(3)]

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

Q. Write a list comprehension that can transpose a given matrix
```
input - [
[1,2,3],
[4,5,6],
[7,8,9]
]

output - [
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]
]
```

In [28]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
[[j[i] for j in matrix] for i in range(len(matrix))]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

Q. Write a list comprehension that can flatten a nested list.
```
Input - [
[1,2,3],
[4,5,6],
[7,8,9]
]

Output:
[1, 2, 3, 4, 5, 6, 7, 8, 9]
```

In [30]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

[i for row in matrix for i in row]

[1, 2, 3, 4, 5, 6, 7, 8, 9]